/*
    Fonts
*/
$open-sans-font: 'Open Sans';
$font-family-base: $open-sans-font, sans-serif;

/*
    Colors
*/
$color-title: #721c24;

$white: #fff;
$white-hover: #fff;
$white-two: #f3f3f3;
$white-three: #fafafa;

$grey: #bcc0c5;
$cool-grey: #99a0ab;

$dark-mint: #5dc97c;
$dark-mint-hover: #34ae57;
$vibrant-green: #5dc97c;

$strawberry: #f12e46;
$scarlet: #d0021b;
$red: #e20000;

$steel: #7b8a9d;
$steel-hover: #516176;
$bluey-grey: #a6b0bd;

$charcoal-grey: #33333d;
$silver: #d7dade;

$violet: #bd10e0;
$golden-yellow: #fbce20;

$black: #222;
$greyish-brown: #4a4a4a;
$warm-grey: #9b9b9b;

$dodger-blue: #48b1f4;
$dark-sky-blue: #2997df;

$paypal: #003087;
$paypal-hover: #012169;

$pale-grey: #f7f8f9;

/*
    Text
*/
$heater-color: $charcoal-grey;

/*
    Buttons
*/
$btn-default-text-color: $steel;
$btn-default-text-color-hover: $steel-hover;
$btn-default-bg-color: $white;
$btn-default-bg-color-hover: $white-hover;

$btn-secondary-text-color: $white;
$btn-secondary-bg-color: $grey;
$btn-secondary-bg-color-hover: $cool-grey;

$btn-primary-text-color: $white;
$btn-primary-bg-color: $dark-mint;
$btn-primary-bg-color-hover: $dark-mint-hover;

$btn-danger-text-color: $white;
$btn-danger-bg-color: $strawberry;
$btn-danger-bg-color-hover: $scarlet;

$btn-blue-text-color: $white;
$btn-blue-bg-color: $dodger-blue;
$btn-blue-bg-color-hover: $dark-sky-blue;

$btn-paypal-text-color: $white;
$btn-paypal-bg-color: $paypal;
$btn-paypal-bg-color-hover: $paypal-hover;

/*
    Animations
*/
$transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);

@mixin aspect-ratio($width, $height) {
    position: relative;

    &::before {
        display: block;
        content: " ";
        padding-top: ($height / $width) * 100%;
        width: 100%;
    }

    & > .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
